{{> navbar }}

<div class="container">
    <!-- [if lt IE 9]>
    <div class="unsupported-browser">
        This website does not fully support your browser.  Please get a
        better browser (Firefox or <a href="/chrome/">Chrome</a>, or if you
        must use Internet Explorer, make it version 9 or greater).
    </div>
    <![endif] -->
    <div class="col-lg-2">
        <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="50">
            <li><a href="/">重大事件</a></li>
            <li class="active"><a href="/relationchart">利益关系</a></li>
            <li><a href="/statechart">业态观测</a></li>
            <li><a href="/forecast">预测分析</a></li>
        </ul>
    </div>
    <div class="col-lg-10">
        <div class="page-header">
          <h3>中新恒超</h3>
        </div>
        <div id="split-container">
            <div id="graph-container">
                <div id="graph"></div>
            </div>
            <div id="docs-container">
                <a id="docs-close" href="#">&times;</a>
                <div id="docs" class="docs"></div>
            </div>
        </div>
    </div>
</div>